# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# build
**/dist

# dependencies
/node_modules
/.pnp
.pnp.js

# TypeScript
**/*.tsbuildinfo

# testing
.nyc_output
coverage

# misc
.DS_Store
*.pem
